body{

    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}
 
header{
 
    background-color: black;
    color: rgb(134, 124, 124);
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

table{

    border: 2px solid black;
    border-radius: 4px;
}

tr td{

    border:2px solid rgb(166, 187, 50);
    text-align: center;
    padding: 12px;
    /* margin: auto; */
}

mark{

    background-color: lavender;
    color: black;
    padding: 4px;
    border-radius: 8px;
}
