body{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}


header{

    background-color: black;
    color: aliceblue;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
}

table{

    border: 2px solid black;
    border-radius: 4px;
}

td tr{

    border: 3px solid red;
    border-radius: 4px ;
    padding: 6px;
    text-align: center;
    margin: auto
}

mark{

    background-color: rgb(163, 212, 85) ;
    color: black;
}
